.left {
    flex: 3;
    height: 100%;
    background-color: rgb(250, 246, 245);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.left img{
    margin-left: 3rem;
    width: 100%;
    min-height: 200px;
    min-width: 200px;   

}
